@using MyServerManagement.StateStore

@inject NavigationManager NavigationManager
@inject TorontoOnlineServersStore TorontoOnlineServersStore
@inject OttawaOnlineServersStore OttawaOnlineServersStore
@inject MontrealOnlineServersStore MontrealOnlineServersStore
@inject HalifaxOnlineServersStore HalifaxOnlineServersStore
@inject CalgaryOnlineServersStore CalgaryOnlineServersStore
@inject IServersEFCoreRepository ServersEFCoreRepository

@if (Server != null)
{
    <tr style="background-color: @GetBackgroundcColor()">
        <td>@Server.Name</td>
        <td>@Server.City</td>
        <td style="color:@(Server.IsOnline ? "green" : "red")">
            @(Server.IsOnline ? "Online" : "Offline")
        </td>
        <td>
            @if (Server.IsOnline)
            {
                Random rand = new Random();
                int randomNumber = rand.Next(1, 100);
                <text>@randomNumber</text>
            }
            else
            {
                <text>N/A</text>
            }
        </td>
        <td>
            @if (Server.IsOnline)
            {
                <button type="button" class="btn btn-outline-danger" onclick="@(() => SetServerStatus(false))">
                    Turn Off
                </button>
            }
            else
            {
                <button type="button" class="btn btn-outline-success" onclick="@(() => SetServerStatus(true))">
                    Turn On
                </button>
            }
            &nbsp;
            <a href="/server/@Server.ServerId" class="btn btn-outline-primary">Edit</a>
        </td>
        <td>
            <EditForm Model="Server"
                      FormName="@($"server-{Server.ServerId}")"
                      OnValidSubmit="@(()=>DeleteServer(Server.ServerId))">
                <button type="submit" class="btn btn-primary">Delete</button>
            </EditForm>
        </td>
    </tr>
}

@code {
    [Parameter]
    public Server? Server { get; set; }

    [CascadingParameter(Name = "SelectedCity")]
    public string? SelectedCity { get; set; }

    private void DeleteServer(int serverId)
    {
        if (serverId > 0)
        {
            ServersEFCoreRepository.DeleteServer(serverId);
            NavigationManager.NavigateTo("/servers", true);
        }
    }

    private string GetBackgroundcColor()
    {
        if (SelectedCity != null)
        {
            switch (this.SelectedCity)
            {
                case "Toronto": return "#D6EAF8";
                case "Montreal": return "#D5F5E3";
                case "Ottawa": return "#FADBD8";
                case "Calgary": return "#FCF3CF";
                case "Halifax": return "#E8DAEF";
                default: return "white";
            }
        }
        return "white";
    }

    private void SetServerStatus(bool status)
    {
        if (this.Server is not null)
        {
            if (this.Server.IsOnline != status)
            {
                int num = 0;
                switch (this.Server.City)
                {
                    case "Toronto":
                        num = TorontoOnlineServersStore.GetNumberServersOnline();
                        if (status)
                            TorontoOnlineServersStore.SetNumbersServersOnline(num + 1);
                        else if (num >= 1)
                            TorontoOnlineServersStore.SetNumbersServersOnline(num - 1);
                        break;    
                    case "Montreal":
                        num = MontrealOnlineServersStore.GetNumberServersOnline();
                        if (status)
                            MontrealOnlineServersStore.SetNumbersServersOnline(num + 1);
                        else if (num >= 1)
                            MontrealOnlineServersStore.SetNumbersServersOnline(num - 1);
                        break;
                    case "Ottawa":
                        num = OttawaOnlineServersStore.GetNumberServersOnline();
                        if (status)
                            OttawaOnlineServersStore.SetNumbersServersOnline(num + 1);
                        else if (num >= 1)
                            OttawaOnlineServersStore.SetNumbersServersOnline(num - 1);
                        break;
                    case "Calgary":
                        num = CalgaryOnlineServersStore.GetNumberServersOnline();
                        if (status)
                            CalgaryOnlineServersStore.SetNumbersServersOnline(num + 1);
                        else if (num >= 1)
                            CalgaryOnlineServersStore.SetNumbersServersOnline(num - 1);
                        break;
                    case "Halifax":
                        num = HalifaxOnlineServersStore.GetNumberServersOnline();
                        if (status)
                            HalifaxOnlineServersStore.SetNumbersServersOnline(num + 1);
                        else if (num >= 1)
                            HalifaxOnlineServersStore.SetNumbersServersOnline(num - 1);
                        break;
                }

                this.Server.IsOnline = status;
                ServersEFCoreRepository.UpdateServer(this.Server.ServerId, Server);
            }
        }
    }
}
