@page "/todo"

<h3>To Do</h3>

<button type="button" class="btn btn-primary" @onclick=AddTask>Add task</button>

<br />
<br />


@foreach (var task in toDoTasks)
{
    <div class="row" @key="task.Id">
        <div class="col-1">
            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox-@task.Id" 
            checked="@(task.IsCompleted==true?true:false)">
        </div>
        <div class="col-6">
            <input type="text" class="@($"form-control{(task.IsCompleted?" text-decoration-line-through":"")}")" value="@task.Title" disabled="@(task.IsCompleted ? true : false)">
        </div>
        <div class="col">
            @if (task.IsCompleted == true)
            {
                <label class="form-check-date" for="checkbox-@task.Id">Completed at: @task.CompletedDate.ToString()</label>
            }
        </div>
    </div>
}



@code {
    private List<ToDoTask> toDoTasks = new List<ToDoTask>()
    {
        new ToDoTask { Id = 1, Title = "First task", IsCompleted = false },
        new ToDoTask { Id = 2, Title = "Second task", IsCompleted = true },
        new ToDoTask { Id = 3, Title = "Third task", IsCompleted = false }
    }
    .OrderByDescending(task => task.Id)
    .ToList();

    private void AddTask()
    {
        var newTaskId = toDoTasks.Any() ? toDoTasks.Max(t => t.Id) + 1 : 1;
        toDoTasks.Insert(0, new ToDoTask { Id = newTaskId, Title = $"New task {newTaskId}", IsCompleted = false });
    }
}
